/******** CSS A TUTTA LA PAGINA *******/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bgOrange{background-color: #ff6900;}
.bgBlack{background-color: #1a1a1a;}

.flex{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: #ddd;
}

i{
    color: white;
    margin: 5px;
}

i:hover{
    cursor: pointer;
    color: #ddd;
}
/******* HEADER *******/

.navBar{
    position: fixed;
    width: 100%;
    min-height: 70px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: space-around;
}
.category a{
    font-size: 17px;
    font-weight: 700;
    margin: 5px;
}

.logo img{
    height: 30px;
}



/****** MAIN *******/

.container{
    max-width: 1380px;
    min-height: 1560px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 100px;
}

.person{
    width:calc(100% / 3 - 20px);
    min-height: 645px;
    background-color: #e6e6e6;
    border: 1px solid black;
    margin: 10px;
}

/****** FOOTER ******/

.footer{
    width: 100%;
    min-height: 110px;
}